/*Variables*/
/*Estilos*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* .hide {
  display: none;
}

* body {
  background-color: #3e90d3;
  font-family: "Raleway", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

* body .container {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
  background-color: #00519c;
  border: 3px solid #00417e;
  border-radius: 20px;
}

* body .container .pregunta_contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* body .container .pregunta_contenedor img {
  max-width: 600px;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

* body .container .pregunta_contenedor .pregunta_foto {
  text-align: center;
  color: white;
  font-weight: 700;
}

* body .container .opciones {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

* body .container .opciones.hide {
  display: none;
}

* body .container .opciones .btn {
  color: black;
  width: 45%;
  margin: 5px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

* body .container .opciones .correcta {
  background-color: green;
  color: black;
  width: 45%;
  margin: 5px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

* body .container .opciones .incorrecta {
  background-color: red;
  color: white;
  width: 45%;
  margin: 5px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

* body .container .controladores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

* body .container .controladores .btn {
  color: black;
  width: 45%;
  margin: 5px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: 30%;
  width: 100%;
}

@media (max-width: 500px) {
  * {
    font-size: 1em;
  }
  * body .container {
    max-width: 70%;
    margin: auto;
  }
  * body .container .opciones {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  * body .container .opciones .btn {
    width: 100%;
  }
}
