/*Variables*/
@mixin Boton-main {
  color: black;
  width: 45%;
  margin: 5px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

/*Estilos*/
* {
  box-sizing: border-box;
  .hide {
    //display: none;
  }

  body {
    background-color: rgb(62, 144, 211);
    
    font-family: "Raleway", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    .container {
      margin: auto;
      display: flex;
      flex-direction: column;
      padding: 30px;
      background-color: rgb(0, 81, 156);
      border: 3px solid rgb(0, 65, 126);
      border-radius: 20px;
      
      

      .pregunta_contenedor {
          
        img {
          width: 100%;
          max-width: 400px;
          height: auto;
         
          border-radius: 10px;
        }
        .pregunta_foto {
          text-align: center;
          color: white;
          font-weight: 700;
        }
      }
      .opciones {
      
        padding: 20px;
        display: flex;
        justify-content: space-around;
        flex-flow: row wrap;

        .btn {
          @include Boton-main();
        }
        .correcta {
            background-color: green;
            color: black;
            width: 45%;
            margin: 5px;
            font-family: "Raleway", sans-serif;
            font-weight: 700;
            padding: 10px;
            border-radius: 5px;
            border: none; 
        }
        .incorrecta {
          background-color: red;
          color: white;
          width: 45%;
          margin: 5px;
          font-family: "Raleway", sans-serif;
          font-weight: 700;
          padding: 10px;
          border-radius: 5px;
          border: none;
        }
      }

      .controladores {
        display: flex;
        justify-content: space-evenly;
        .btn {
          @include Boton-main();
          width: 30%;
          width: 100%;
         
        }
      }
    }
  }
}
@media (max-width: 500px) {
    *{
        font-size: 1em;
        body{
            .container {
                max-width: 70%;
                margin: auto;
                .opciones {
                  flex-direction: column;
                  align-items: center;
                  .btn {
                    width: 100%;
                  }
                }
            }
        }
    }
  }